.main {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.logo {
    width: 5vw;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 90vw;
    justify-content: center;
}

.links h1 {
    margin: 0 calc(90vh / 20);
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.links h1:hover {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.6)
}

.social {
    display: flex;
    width: 10vw;
    justify-content: space-evenly;
    margin-right: 20px;
}

.social * {
    margin-left: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.social *:hover {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.6);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
}

.mouse {
    width: 40vw;
    justify-content: center;
    display: flex;
    align-items: center;
}

.mouse h3 {
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
}

.mouse-icon {
    width: 25px;
    height: 40px;
    border-style: solid;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.mouse-wheel {
    width: 4px;
    height: 10px;
    margin-top: 4px;
    background-color: black;
    border-radius: 2px;
    animation-name: mouse_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mouse_animation {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 3px);
    }
}

.accolade {
    background-color: black;
    width: 60vw;
    height: 15vh;
    border-radius: 6px 0 0 0;
}

.main-content {
    display: flex;
}

.main-content * {
    margin: 10px;
}

.main-buttons {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-button {
    background-color: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.circle-button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.6);
}

.main-information {
    width: 30%;
    text-align: left;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-information * {
    margin: 0;
}

.main-information h3 {
    font-size: 28px;
}

.main-information p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.main-illustrations {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}