@media screen and (max-width: 768px) {
    .mouse {
        display: none !important;
    }

    .accolades {
        display: none !important;
    }

    .mobile-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex !important;
        background-color: black !important;
        color: white !important;
        width: 100vw !important;
        height: 5vh !important;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0 !important;
        padding: 0 !important;
        font-weight: 300 !important;
        font-size: 28px;
    }

    .chevrons {
        animation-name: mouse_animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 1024px) {
    .mouse {
        width: 30vw !important;
    }

    .mouse h3 {
        margin-left: 10px !important;
        font-weight: 500;
        font-size: 18px !important;
    }

    .accolades {
        width: 70vw !important;
    }
}

.mobile-footer {
    display: none;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15vh;
    display: flex;
}

.mouse {
    width: 40vw;
    justify-content: center;
    display: flex;
    align-items: center;
}

.mouse h3 {
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
}

.mouse-icon {
    width: 25px;
    height: 40px;
    border-style: solid;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.mouse-wheel {
    width: 4px;
    height: 10px;
    margin-top: 4px;
    background-color: black;
    border-radius: 2px;
    animation-name: mouse_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mouse_animation {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 3px);
    }
}

.accolades {
    background-color: black;
    width: 60vw;
    border-radius: 6px 0 0 0;
    color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}