@media screen and (max-width: 425px) {
    .links {
        display: none !important;
    }

    .menu {
        display: flex !important;
        margin-left: 10px;
    }

    .nav-bar {
        background-color: black;
        color: white;
        height: 5vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 !important;
    }

    .logo {
        margin-right: 120px !important;
        font-weight: 300 !important;
    }

    .social {
        display: none !important;
    }

    .block-social .social {
        display: inline !important;
    }

    .block-social {
        display: block !important;
        padding-top: 10px;
        text-align: center !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .links {
        display: none !important;
    }

    .nav-bar {
        height: 5vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 !important;
    }

}

.menu {
    display: none;
}

.block-social {
    display: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.logo {
    width: 10%;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 80%;
    justify-content: center;
}

.links h1 {
    margin: 0 calc(90vh / 20);
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.links h1:hover {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.6)
}

.social {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    margin-right: 20px;
}

.social * {
    margin-left: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.social *:hover {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.6);
}